.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 18, 20, 0.5);
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-content {
  background-color: #ffff;
  width: 500px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
